
  <ion-content>  

   
    <ion-card>  
      <ion-card-header>  
        Explore Nearby Places  
      </ion-card-header>  
            
      <ion-list>  
        <ion-item>

          <div class="row row-cols-1 row-cols-md-1 row-cols-lg-2 g-4">
            <div class="col" *ngFor="let user of  productlist">
              <div class="card h-100">
                
                <div class="card-body">
                  
                  <h5 class="card-title">{{user.username}}</h5>
                  <p class="card-text"> {{user.email}}</p>
                  <p class="card-text"> {{user.password}}</p>
                  <p class="card-text"> {{user.role}}</p>
                  <button class="btn btn-secondary" (click)="del(user.user_id)"><ion-icon name="close-outline"></ion-icon></button>
                    <br>
                    <button class="btn btn-warning" (click)="update(user.user_id)"><ion-icon name="exit-outline"></ion-icon></button>
                </div>
              </div>
            </div>
          </div>

        </ion-item>        
     
      </ion-list>  
    </ion-card>  


  </ion-content> 