<ion-content>  
  <ion-card>  
    <ion-card-header>  
      Explore Nearby Places  
    </ion-card-header>  
          
    <ion-list>  
      <ion-item>

        <div class="row row-cols-1 row-cols-md-1  row-cols-md-3 g-4">
          <div class="col" *ngFor="let user of products , let i =index">
            <div class="card h-100">
              @if(role === 'admin'){
              <div class="card-header">admin : {{user.email}}</div>
              }
              <img [src]=" 'assets/' + user.image" class="card-img-top w-100" alt="..." >
              <div class="card-body">
                <h5 class="card-title">{{user.product_name}}</h5>
                <p class="card-text"> {{user.price}} Egp</p>
                @if(role === 'admin'){
                  <button class="btn btn-secondary" (click)="del(user.product_id)"><ion-icon name="close-outline"></ion-icon> </button>
                  <br>
                  <button class="btn btn-warning" (click)="UpdateForm(user.product_id)"><ion-icon name="exit-outline"></ion-icon></button>
                  <br>
                }

                @if(role){
                <button class="btn btn-info" (click)="addtocart(user)"><ion-icon name="bag-add-outline"></ion-icon></button>
                }
              </div>
            </div>
          </div>
        </div>

      </ion-item>        
   
    </ion-list>  
  </ion-card>  


</ion-content> 
