
<ion-header [translucent]="true">

  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- Menu button to open the side menu -->
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      hello  {{email}}

    </ion-title>
    <ion-buttons slot="end">

    </ion-buttons>
  </ion-toolbar>

</ion-header>



<ion-menu side="start" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>


<ion-content>
  
    <ion-list>
      <!-- Menu items -->
   


      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/myaccount">
          <ion-icon slot="start" name="person-circle-outline"></ion-icon>
          <ion-label>My account</ion-label>
        </ion-item>
      </ion-menu-toggle>


      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/cart">
          <ion-icon slot="start" name="cart-outline"></ion-icon>
          <ion-label>cart</ion-label>
        </ion-item>
      </ion-menu-toggle>


      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/addmessages">
          <ion-icon slot="start" name="chatbubble-outline"></ion-icon>
          <ion-label>add messaage</ion-label>
        </ion-item>
      </ion-menu-toggle>


      <ion-menu-toggle auto-hide="false">
        <ion-item (click)="logout()">
          <ion-icon slot="start" name="exit-outline"></ion-icon>
          <ion-label>exit</ion-label>
        </ion-item>
      </ion-menu-toggle>
      @if(role === 'admin'){




      <ion-menu-toggle auto-hide="false">
        <ion-item  routerLink="/dashboard" color="primary">
          <ion-icon slot="start" name="analytics-outline"></ion-icon>
          <ion-label>dashboard</ion-label>
        </ion-item>
      </ion-menu-toggle>
      
      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/addproducts" color="primary">
          <ion-icon  slot="start" name="document-outline"></ion-icon>
          <ion-label>addproducts</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/addusers" color="primary">
          <ion-icon slot="start" name="create-outline"></ion-icon>
          <ion-label>addusers</ion-label>
        </ion-item>
      </ion-menu-toggle>


      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/messages" color="primary">
          <ion-icon slot="start" name="notifications-outline"></ion-icon>
          <ion-label>messaage</ion-label>
        </ion-item>
      </ion-menu-toggle>

      <ion-menu-toggle auto-hide="false">
        <ion-item routerLink="/users" color="primary">
          <ion-icon slot="start" name="people-outline"></ion-icon>
          <ion-label>users</ion-label>
        </ion-item>
      </ion-menu-toggle>
 
    }
      <!-- Add more menu items as needed -->
    </ion-list>

  </ion-content>

</ion-menu>

<ion-router-outlet id="main-content"></ion-router-outlet>



  <ion-content>  
    <ion-card>  
      <ion-card-header>  
        Explore Nearby Places  
      </ion-card-header>  
            
      <ion-list>  
        <ion-item>

          <div class="row row-cols-1 row-cols-md-1  row-cols-md-3 g-4">
            <div class="col" *ngFor="let user of products , let i =index">
              <div class="card h-100">
                @if(role === 'admin'){
                <div class="card-header">admin : {{user.email}}</div>
                }
                <img [src]=" 'assets/' + user.image" class="card-img-top w-100" alt="..." >
                <div class="card-body">
                  <h5 class="card-title">{{user.product_name}}</h5>
                  <p class="card-text"> {{user.price}} Egp</p>
                  @if(role === 'admin'){
                    <button class="btn btn-secondary" (click)="del(user.product_id)"><ion-icon name="close-outline"></ion-icon> </button>
                    <br>
                    <button class="btn btn-warning" (click)="UpdateForm(user.product_id)"><ion-icon name="exit-outline"></ion-icon></button>
                    <br>
                  }
                  <button class="btn btn-info" (click)="addtocart(user)"><ion-icon name="bag-add-outline"></ion-icon></button>
                </div>
              </div>
            </div>
          </div>

        </ion-item>        
     
      </ion-list>  
    </ion-card>  


  </ion-content> 



    
